*{
    margin:0px;
    box-sizing:border-box;
    padding:0px;
}
body{
    background:black;
}

#wrapper{
    margin:0 auto 0 auto;
    max-width:1440px;
    text-align:center;
}
.wrapperForImages{
    display:inline-block;
    text-align:center;
    margin:10px 0 0 0;
}
.galleryImage{
    height:300px;
    width:400px;
    cursor:zoom-in;
    border:3px solid rgb(231, 224, 224);
    border-radius:5px;
}
/*Увеличенное состояние изображения*/
.galleryImageIncreased{
    display: inline-block;
    cursor:zoom-out;
    margin-top: 4%;
    max-height:85%;
    max-width:85%;
}
.galleryImageIncreasedWrapper{
    background:rgba(000,00,00,0.90);
    width:100%;
    height:100%;
    position:fixed;
    text-align:center;
}

@media screen and (min-width:1440px){
    #wrapper{
        width:100%;
        max-width:100%;
    }
}

@media screen and (max-width:805px){
 .galleryImageIncreased {
     display: inline-block;
     max-width: 95%;
     margin-top: 4%;
    }
}
@media screen and (max-width:707px){
    .galleryImage{
        height:90%;
        width:90%;
    }
   }
